block content
  .container
    .row
      .col-sm-6.col-md-5.col-lg-5
        h4.pull-right
          small нижняя, с изменениями
        h3
          a.media-heading(href='/timetable') #{' Сегодня'}
          small #{' ' + todayDay}
        .list-group
          each lesson in lessonsToday
            a.list-group-item(href='', class=lesson.now ? 'active' : '')
              span.badge #{lesson.starts} - #{lesson.ends}
              h5.list-group-item-heading
                | #{lesson.name}
                br
              p.list-group-item-text.pull-right #{lesson.classroom}
              p.list-group-item-text #{lesson.teacher}

        br

      .col-sm-6.col-md-7.col-lg-7
        h3
          | #{' Задания '}
          small: p.badge 1 новое

        br
        
    .row
      .col-sm-6.col-md-5.col-lg-5
        h3
          | #{' Группа '}
          small П-303

        .media
          .media-left
            a(href='')
              img.media-object(src='https://new.vk.com/images/camera_100.png', height='64', width='64')
          .media-body
            h4.media-heading
              a.media-heading(href='') Александр Иванов
              small #{ ' куратор' }
            .media-body
              a.btn.btn-default(href='', style='margin-top: 6px') Написать сообщение
        .media
          .media-left
            a(href='')
              img.media-object(src='https://pp.vk.me/c633819/v633819348/25564/hFo-UqGEoXk.jpg', height='64', width='64')
          .media-body
            h4.media-heading
              a.media-heading(href='') Анастасия Батанина
              small #{ ' староста' }
            .media-body
              a.btn.btn-default(href='', style='margin-top: 6px') Написать сообщение
        .media
          .media-left
            a(href='')
              img.media-object(src='https://pp.vk.me/c631524/v631524005/3c951/DNq7UTs1D1A.jpg', height='64', width='64')
          .media-body
            h4.media-heading
              a.media-heading(href='') Денис Жаров
              small #{ ' зам. старосты' }
            .media-body
              a.btn.btn-default(href='', style='margin-top: 6px') Написать сообщение
        
        br
        
      .col-sm-6.col-md-7.col-lg-7
        h3
            | #{' Новости '}
        each article in articles
          .media
            .media-left
              a(href='')
                img.media-object(src='http://lorempixel.com/64/64/cats', alt='...')
            .media-body
              a(href='')
                h4.media-heading #{article.title}
              h4.media-heading
                small #{article.time}
              a.media-body(href='/') #{article.text}