block content
  .container
    .row
      .col-sm-12.col-md-6.col-lg-6
        h4.pull-right
          small #{todayWeek}
        h3
          | #{'Сегодня' + ' '}
          small #{todayDay}
        .list-group
          each lesson in lessonsToday
            a.list-group-item(href='', class=lesson.now ? 'active' : '')
              span.badge #{lesson.starts} - #{lesson.ends}
              h4.list-group-item-heading
                | #{lesson.name}
                br
              p.list-group-item-text.pull-right #{lesson.classroom}
              p.list-group-item-text #{lesson.teacher}

        a.btn.btn-default.btn-block(href='/timetable' style='margin-bottom: 20px') Перейти к полному расписанию

      .col-sm-12.col-md-6.col-lg-6
        h3
          | Новости
        each article in articles
          .media
            .media-body
              a(href='')
                h4.media-heading #{article.title}
              h4.media-heading
                small #{article.time}
              a.media-body(href='/') #{article.text}
            .media-right
              a(href='')
                img.media-object(src='http://lorempixel.com/64/64/cats', alt='...')
