.hamburger-overlay
  .container(style='padding-top: 15px;')
    .media
      .media-left
        a(href='')
          img.media-object(src='https://pp.vk.me/c622225/v622225892/9a07/kDjI14gqGx4.jpg', height='57', width='57')
      .media-body
        h5.media-heading
          a.media-heading(href='') #{ 'Сергей Тихонов ' }
          small #{ 'П-303' }
        .media-body(style='padding-top: 1px;')
          small.label.label-info #{ 'хорошист' }
    
    br

    .list-group
      a.list-group-item.overlay-link(href='/')
        span.badge
        p.list-group-item-text.pull-right
        span.glyphicon.glyphicon-calendar(aria-hidden='true')
        | #{ ' Сегодня' }
    .list-group
      a.list-group-item.overlay-link(href='/timetable')
        span.badge
        p.list-group-item-text.pull-right
        span.glyphicon.glyphicon-calendar(aria-hidden='true')
        | #{ ' Расписание' }
      a.list-group-item.overlay-link(href='')
        span.badge 1
        span.glyphicon.glyphicon-ok(aria-hidden='true')
        | #{ ' Задания' }
      a.list-group-item.overlay-link(href='')
        span.badge 2
        span.glyphicon.glyphicon-envelope(aria-hidden='true')
        | #{ ' Сообщения' }
  
    .list-group
      a.list-group-item.overlay-link(href='')
        span.badge
        p.list-group-item-text.pull-right
        | #{ 'Моя группа ' }
      a.list-group-item.overlay-link(href='')
        span.badge
        p.list-group-item-text.pull-right
        | Мои преподаватели
      a.list-group-item.overlay-link(href='')
        span.badge
        | Моя зачётка

    br
    br

    a.btn.btn-danger.btn-block(href='http://google.com')
        | Выход

    br
    br
    br
    br


nav.navbar.navbar-default.navbar-fixed-top.navbar-toggled
  .container
    .navbar-header
      a.navbar-brand Студенческий портал
      .visible-xs-block
        span.hamburger-counter.badge.unselectable 3
        button.hamburger.navbar-toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
    
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='/')
            |  Сегодня
        li
      ul.nav.navbar-nav
        li
          a(href='/timetable')
            |  Расписание
        li
          a(href='/')
            |  #{'Задания' + ' '}
            span.badge 1
        li
          a(href='/')
            |  #{'Сообщения' + ' '}
            span.badge 2

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a#student-ddown-btn.dropdown-toggle(href='/', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | #{' ' + 'Сергей' + ' '}
            img.avatar-thumbnail(src='https://pp.vk.me/c622225/v622225892/9a07/kDjI14gqGx4.jpg')

          ul#student-ddown-mnu.dropdown-menu
            li
              a(href='/') #{'Моя группа' + ' '}
                span.label.label-default П-303
            li
              a(href='/') Мои преподаватели
            li
              a(href='/') Моя зачётка
            li.divider(role='separator')
            li
              a(href='http://google.com') Выход