mixin LessonList(lessons)
  each lesson in lessons
    button.mdl-button.mdl-button-custom.mdl-js-button(class={
      'mdl-button--accent': lesson.now,
      'mdl-button--raised': lesson.now,
      'mdl-js-ripple-effect': lesson.now
      }) 
      p.mdl-button-custom--right #{lesson.room}
      p.mdl-button-custom--header #{lesson.subject}
      p.mdl-button-custom--right #{lesson.starts + ' - ' + lesson.ends}
      p.mdl-button-custom--text #{lesson.tutor}

mixin TaskList(tasks)
  each task in tasks
    button.mdl-button.mdl-button-custom.mdl-js-button 
      p.mdl-button-custom--right #{task.details}
      p.mdl-button-custom--header #{task.title}
      p.mdl-button-custom--text #{task.subject}

mixin Card(options)
  .mdl-card.mdl-cell.mdl-grid(class={
    'mdl-shadow--2dp': !options.shadow || options.shadow && options.shadow == 2,
    'mdl-shadow--4dp': options.shadow && options.shadow == 4,
    'mdl-shadow--6dp': options.shadow && options.shadow == 6,
    'mdl-shadow--8dp': options.shadow && options.shadow == 8,
    'mdl-shadow--16dp': options.shadow && options.shadow == 16,
    'mdl-cell--1-col-desktop': options.desktop && options.desktop == 1,
    'mdl-cell--2-col-desktop': options.desktop && options.desktop == 2,
    'mdl-cell--3-col-desktop': options.desktop && options.desktop == 3,
    'mdl-cell--4-col-desktop': options.desktop && options.desktop == 4,
    'mdl-cell--5-col-desktop': options.desktop && options.desktop == 5,
    'mdl-cell--6-col-desktop': options.desktop && options.desktop == 6,
    'mdl-cell--7-col-desktop': options.desktop && options.desktop == 7,
    'mdl-cell--8-col-desktop': options.desktop && options.desktop == 8,
    'mdl-cell--9-col-desktop': options.desktop && options.desktop == 9,
    'mdl-cell--10-col-desktop': options.desktop && options.desktop == 10,
    'mdl-cell--11-col-desktop': options.desktop && options.desktop == 11,
    'mdl-cell--12-col-desktop': options.desktop && options.desktop == 12,
    'mdl-cell--1-col': options.all && options.all == 1,
    'mdl-cell--2-col': options.all && options.all == 2,
    'mdl-cell--3-col': options.all && options.all == 3,
    'mdl-cell--4-col': options.all && options.all == 4,
    'mdl-cell--5-col': options.all && options.all == 5,
    'mdl-cell--6-col': options.all && options.all == 6,
    'mdl-cell--7-col': options.all && options.all == 7,
    'mdl-cell--8-col': options.all && options.all == 8,
    'mdl-cell--9-col': options.all && options.all == 9,
    'mdl-cell--10-col': options.all && options.all == 10,
    'mdl-cell--11-col': options.all && options.all == 11,
    'mdl-cell--12-col': options.all && options.all == 12,
    'mdl-cell--1-col-tablet': options.tablet && options.tablet == 1,
    'mdl-cell--2-col-tablet': options.tablet && options.tablet == 2,
    'mdl-cell--3-col-tablet': options.tablet && options.tablet == 3,
    'mdl-cell--4-col-tablet': options.tablet && options.tablet == 4,
    'mdl-cell--5-col-tablet': options.tablet && options.tablet == 5,
    'mdl-cell--6-col-tablet': options.tablet && options.tablet == 6,
    'mdl-cell--7-col-tablet': options.tablet && options.tablet == 7,
    'mdl-cell--8-col-tablet': options.tablet && options.tablet == 8,
    'mdl-cell--1-col-phone': options.phone && options.phone == 1,
    'mdl-cell--2-col-phone': options.phone && options.phone == 2,
    'mdl-cell--3-col-phone': options.phone && options.phone == 3,
    'mdl-cell--4-col-phone': options.phone && options.phone == 4,
    'mdl-cell--middle': options.middle,
    'mdl-color--deep-purple-500' : options.background === 'deep-purple-500',
    'mdl-color--teal-500' : options.background === 'teal-500',
    'mdl-color--teal-100' : options.background === 'teal-100',
    'mdl-color--teal-400' : options.background === 'teal-400',
    })
    block