include mixins

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    link(rel="stylesheet" href=('/vendor/material.' + theme.primary + '-' + theme.secondary + '.min.css'))
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    //link(rel="stylesheet" href="/vendor/animate.css")

    link(rel="stylesheet" href="/material.custom.css")
    link(rel="stylesheet" href="/styles.css")

    script(defer src="/vendor/material.min.js")
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.history.js')
    script(src='/common.js')
    
    title #{title} | Студенческий портал

    block head

  body
    block body
      +Fab('', '')

    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-drawer

      header.mdl-layout__header
        .mdl-layout-icon
        .mdl-layout__header-row
          span.mdl-layout__title
            | #{title}
          .mdl-layout-spacer

      .mdl-layout__drawer.mdl-layout__drawer-custom
        .mdl-user-box(class=[('mdl-color--' + theme.primary + '-600')], style='position: relative;')
          img.mdl-user-avatar(src='/serg.jpg')
          h6.mdl-user-name #{user.name.first} #{user.name.last}
          if layout == 'student'
            h6.mdl-user-group #{user.student.group}
          button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon(style='position: absolute; bottom: 10px; right: 5px;')
            i.material-icons more_vert
          ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for='hdrbtn')
            li.mdl-menu__item(onclick='') Настройки
            li.mdl-menu__item(onclick='window.location.href = "/logout"') Выход
        
        if layout == 'student'
          .mdl-navigation
            +MenuItem({label: 'Сегодня',    link: '/',         icon: '&#xE8DF;',  counter: null})
            +MenuItem({label: 'Расписание', link: '/s/lessons',   icon: '&#xE916;',  counter: null})
            +MenuItem({label: 'Задания',    link: '/s/tasks',     icon: '&#xE877;',  counter: null})
            +MenuItem({label: 'Сообщения',  link: '/s/messages',  icon: '&#xE0C9;',  counter: 3})
            +MenuItem({label: 'Группа',     link: '/s/students',  icon: '&#xE7FB;',  counter: null})
            +MenuItem({label: 'Материалы',  link: '/s/materials', icon: '&#xE86E;',  counter: null})
            +MenuItem({label: 'Клубы',      link: '/s/clubs',     icon: '&#xE420;',  counter: null})
        
        if layout == 'teacher'
          .mdl-navigation
            +MenuItem({label: 'Сегодня',    link: '/',         icon: '&#xE8DF;',  counter: null})
            +MenuItem({label: 'Расписание', link: '/t/lessons',   icon: '&#xE916;',  counter: null})

        if layout == 'admin'
          .mdl-navigation
            +MenuItem({label: 'Пользователи', link: '/a/users',   icon: '&#xE7FB;',  counter: null})
      
      main#content.mdl-layout__content.mdl-color--grey-100
        block content