include mixins

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    link(rel="stylesheet" href=('/vendor/material.' + theme.primary + '-' + theme.secondary + '.min.css'))
    link(rel="stylesheet" href='/vendor/mdl-selectfield.' + theme.primary + '-' + theme.secondary + '.min.css')
    script(defer src="/vendor/material.min.js")
    script(src="/vendor/list.min.js")
    script(src="/vendor/vue.min.js")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")

    link(rel="stylesheet" href="/material.custom.css")
    link(rel="stylesheet" href="/styles.css")

    // Quill editor
    script(src="https://cdn.quilljs.com/1.2.0/quill.min.js")
    link(rel="stylesheet" href="https://cdn.quilljs.com/1.2.0/quill.snow.css")

    script(defer src='/vendor/mdl-selectfield.min.js')

    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.history.js')
    script(src='/socket.io.js')
    
    script(src='/common.js')

    
    title #{title} | Студенческий портал

    block head

  body
    block body
      +Fab('', '')

    .mdl-snackbar.mdl-js-snackbar(aria-live='assertive', aria-atomic='true', aria-relevant='text')
      .mdl-snackbar__text
      button.mdl-snackbar__action(type='button')

    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-drawer
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout__title #{title}
          .mdl-layout-spacer
          - searchWrapperStyle = 'visibility: ' + (searchable ? 'visible' : 'hidden');
          #search-wrapper.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable(style=searchWrapperStyle)
            label.mdl-button.mdl-js-button.mdl-button--icon(for='search')
              i.material-icons search
            .mdl-textfield__expandable-holder
              input#search.mdl-textfield__input(type='text', class='search')
              label.mdl-textfield__label(for='search') Поиск...
        block tabs

      .mdl-layout__drawer.mdl-layout__drawer-custom
        .mdl-user-box(class=[('mdl-color--' + theme.primary + '-600')], style='position: relative;')
          img.mdl-user-avatar(src=user.getImageUrls().small)
          h6.mdl-user-name
            if layout != 'admin'
              a(href='/profile/' + user.id, onclick="ajax(this, true); return false;") #{user.name.first} #{user.name.last}
            else
              span #{user.name.first} #{user.name.last}
          if layout == 'student'
            h6.mdl-user-group 
              a(href='/group/' + user.student.groupId, onclick="ajax(this, true); return false;") #{user.student.group}
          button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon(style='position: absolute; bottom: 10px; right: 5px;')
            i.material-icons more_vert
          ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for='hdrbtn')
            if layout != 'admin'
              li.mdl-menu__item(href='/settings' onclick='return ajax(this, true)') Настройки
            li.mdl-menu__item(onclick='window.location.href = "/logout"') Выход
        
        if layout == 'student'
          .mdl-navigation
            +MenuItem({label: 'Сегодня',       link: '/s/dashboard', icon: '&#xE8DF;' })
            +MenuItem({label: 'Расписание',    link: '/s/timetable', icon: '&#xE916;' })
            +MenuItem({label: 'Задания',       link: '/s/tasks',     icon: '&#xE86E;' })
            +MenuItem({label: 'Тесты',         link: '/s/tests',       icon: '&#xE065;' })
            +MenuItem({label: 'Сообщения',     link: '/chats',       icon: '&#xE0C9;'/*, counter: 3*/})
            +MenuItem({label: 'Группы',        link: '/groups',      icon: '&#xE7FB;' })
            //+MenuItem({label: 'Материалы',     link: '/s/materials', icon: '&#xE86E;' })
            //+MenuItem({label: 'Клубы',         link: '/s/clubs',     icon: '&#xE420;' })
           
        if layout == 'teacher'   
          .mdl-navigation
            +MenuItem({label: 'Сегодня',       link: '/t/dashboard',    icon: '&#xE8DF;' })
            +MenuItem({label: 'Сообщения',     link: '/chats',          icon: '&#xE0C9;'/*, counter: 3*/})
            +MenuItem({label: 'Задания',       link: '/t/tasks/review', icon: '&#xE877;'/*, counter: 5 */})
            +MenuItem({label: 'Группы',        link: '/groups',         icon: '&#xE7FB;' })
            .menu-splitter
            +MenuItem({label: 'Редактор заданий', link: '/t/tasks',     icon: '&#xE877;' })
            +MenuItem({label: 'Редактор тестов', link: '/t/tests',     icon: '&#xE065;' })
            if user.teacher.canEditTimetable
              +MenuItem({label: 'Редактор расписания', link: '/t/timetable', icon: '&#xE916;' })
            if user.teacher.canCreateNews
              +MenuItem({label: 'Редактор новостей', link: '/t/news', icon: '&#xE0E5;' })

        if layout == 'admin'
          .mdl-navigation
            +MenuItem({label: 'Пользователи',  link: '/a/users',       icon: '&#xE7FD;' })
            +MenuItem({label: 'Специальности', link: '/a/specialties', icon: '&#xE85E;' })
            +MenuItem({label: 'Группы',        link: '/a/groups',      icon: '&#xE7FB;' })
            +MenuItem({label: 'Предметы',      link: '/a/subjects',    icon: '&#xE865;' })
            +MenuItem({label: 'Аудитории',     link: '/a/auditories',  icon: '&#xE8B4;' })
            +MenuItem({label: 'Звонки',        link: '/a/timings',     icon: '&#xE192;' })
    
      
      main.mdl-layout__content.mdl-color--grey-100
        .spinner-wrapper#loading-spinner(style='position: absolute; z-index: 5; left: calc(50% - 14px); top: calc(50% - 14px); visibility: collapse;')
          .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active
        #content(style='height: calc(100vh - 64px - 8px);')
          block content
      
      script.
        $('#search').keyup(function() { list.search($(this).val()) });

        var school_context = {
          user: !{JSON.stringify(user)}
        };

        school_context.user.images = !{JSON.stringify(user.getImageUrls())};