mixin MessageCard(cardSettings, title, message, icon, style)
  +Card(cardSettings, style)
    .mdl-card__title
      h2.mdl-card__title-text
        i.material-icons.mdl-card-icon !{ icon || '&#xE000;'}
        | #{ title }
    if message
      .mdl-card__supporting-text(style='padding: 0px 16px 16px 16px;')
        | !{ message }

mixin MvcMessages(createdMessage, deletedMessage, editedMessage, cardSettingsParam)
  //- var styles = null || 'left: 50%; transform: translateX(-50%);';
  - var cardSettings = cardSettingsParam || {desktop: {s:4, o: 4}};
  if query_params.message === 'created'
    +MessageCard(cardSettings, createdMessage, null, 'done', styles)
  if query_params.message === 'deleted'
    +MessageCard(cardSettings, deletedMessage, null, 'done', styles)
  if query_params.message === 'edited'
    +MessageCard(cardSettings, editedMessage, null, 'done', styles)
  if query_params.error
    +MessageCard(cardSettings, 'Ошибка при изменении', query_params.error, null, styles)

mixin Fab(href, icon)
  - var style = href ? 'visibility: visible;' : 'visibility: collapse;'
  a#fab-link.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.floating-button(href=href, onclick="return ajax(this)", style=style)
    i#fab-icon.material-icons #{icon}

mixin Toggle(id, text, style, checked)
  label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for=(id + 'field'), style=style)
    input.mdl-switch__input(id=(id + 'field'), name=id, type='checkbox', checked=checked, value=1)
    span.mdl-switch__label #{text}

mixin Checkbox(id, text, style, checked)
  label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for=(id + 'field'), style=style)
    input.mdl-checkbox__input(id=(id + 'field'), name=id, type='checkbox', checked=checked, value=1)
    span.mdl-checkbox__label(style='white-space: nowrap;') #{text}

mixin ComboBox(placeholder, id, items, allowNull, style, preset_value)
  - var preset_value = preset_value || query_params[id];

  .mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label(style=style || 'width: 100%;')
    select.mdl-selectfield__select(id=(id + 'field'), name=id)
      if allowNull
        option
      if items && items.length
        for item in items
          option(value=item.value, selected=(preset_value == item.value)) #{ item.text }
    label.mdl-selectfield__label(for=(id + 'field')) #{ placeholder }

mixin InputField(placeholder, id, autofocus)

  - var preset_value = query_params[id]; 

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(style='width: 100%;', id=(id + 'field_container'))
    input.mdl-textfield__input(type='text', name=id, id=(id + 'field'), value=preset_value, autofocus=autofocus)
    label.mdl-textfield__label(for=(id + 'field')) #{ placeholder }

mixin RadioButton(placeholder, name, id, checked, style)

  label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for=(id + '_radio'), style=style)
    input.mdl-radio__button(id=(id + '_radio'), type='radio', name=name, value=id, checked=checked)
    span.mdl-radio__label #{placeholder}

mixin NewsList(news)
  if news.length
    each entry in news
      button.mdl-button.mdl-button-custom.mdl-js-button.mdl-js-ripple-effect
        p.mdl-button-custom--right #{entry.createdDate}
        p.mdl-button-custom--header-mini #{entry.title}
        p.mdl-button-custom--right 
        p.mdl-button-custom--text 
  else
    div(style="text-align: center; padding: 15px 15px 10px 15px; opacity: .5;")
      //img(src="/bell-icon.png" style="margin-bottom: 10px;")
      div новостей нет

mixin LessonList(lessons)
  if lessons.length
    each lesson in lessons
      button.mdl-button.mdl-button-custom.mdl-js-button(class={
        'mdl-button--accent': lesson.now,
        'mdl-button--raised': lesson.now,
        'mdl-js-ripple-effect': lesson.now
        })
        p.mdl-button-custom--right #{lesson.time}
        p.mdl-button-custom--header #{lesson.subject}
        p.mdl-button-custom--right #{lesson.auditory}
        p.mdl-button-custom--text #{lesson.teacher}
  else
    div(style="text-align: center; padding: 15px 15px 10px 15px; opacity: .5;")
      img(src="/bell-icon.png" style="margin-bottom: 10px;")
      //i.material-icons(style="font-size: 100px") done
      div занятий нет

mixin TaskList(tasks)
  each task in tasks
    button.mdl-button.mdl-button-custom.mdl-js-button 
      p.mdl-button-custom--right #{task.details}
      p.mdl-button-custom--header #{task.title}
      p.mdl-button-custom--text #{task.subject}

mixin MenuItem(options)
  a.mdl-navigation__link(href=options.link, onclick='return ajax(this, true)')
    i.material-icons.mdl-navigation-icon !{options.icon}
    span.mdl-navigation__label #{ options.label }
    span.mdl-navigation__counter #{ options.counter }

mixin GroupCompactList(people)
  .mdl-list.mdl-list-custom
    each hooman in people
      button.mdl-button.mdl-button-custom.mdl-js-button
        .mdl-list__item.mdl-list__item--two-line.mdl-list__item--two-line-custom
          .mdl-list__item-primary-content
            a(href=hooman.userlink)
              span.link-wrapper(style='position:absolute; width:100%; height:100%; top:0; left: 0;')
            img.mdl-list__item-avatar(src=hooman.avatar) 
            span= hooman.name
            span.mdl-list__item-sub-title= hooman.position 
          a(href=hooman.messagelink).mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
            i.material-icons &#xE158;

mixin Card(options, style)
  - var classes = [];
  - ['phone', 'desktop', 'tablet'].forEach((device) => {
  -   var settings = options[device]; 
  -   if (settings) {
  -     if (settings.s) classes.push('mdl-cell--' + settings.s + '-col-' + device);
  -     if (settings.o) classes.push('mdl-cell--' + settings.o + '-offset-' + device);
  -   }
  - });
  - classes.push('mdl-shadow--' + (options.shadow || 2) + 'dp')

  .mdl-card.mdl-cell.mdl-grid(class=classes, style=style)
    block

mixin Text(options)
  - var classes = [];
  - ['phone', 'desktop', 'tablet'].forEach((device) => {
  -   var settings = options[device]; 
  -   if (settings) {
  -     if (settings.s) classes.push('mdl-cell--' + settings.s + '-col-' + device);
  -     if (settings.o) classes.push('mdl-cell--' + settings.o + '-offset-' + device);
  -   }
  - });
  div(class=classes)
    block

mixin Form(cardSettings, id, url, style, cardStyle)
  +Card(cardSettings, '', (cardStyle == null ? 'max-width: 320px;' : ''))
    .mdl-card__supporting-text.mdl-card__supporting-text-strip-borders
      form(action=url, method='POST', style=(style == null ? 'padding: 5px 25px' : ''), id=id)
        block
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(onclick="document.getElementById('" + id + "').submit()") сохранить

mixin Table(options, definition)
  - var classes = [];
  - ['phone', 'desktop', 'tablet'].forEach((device) => {
  -   var settings = options[device]; 
  -   if (settings) {
  -     if (settings.s) classes.push('mdl-cell--' + settings.s + '-col-' + device);
  -     if (settings.o) classes.push('mdl-cell--' + settings.o + '-offset-' + device);
  -   }
  - });

  if definition.items.length
    +Card(options, 'padding: 0px')
      .table-responsive#table-list(style='width: 100%')
        table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(style='width: 100%; border-width: 0px;')
          thead
            tr
              each column in definition.columns
                th(class={ 'mdl-data-table__cell--non-numeric': !column.numeric, 'sort': true }, data-sort=(column.field + '-value')) #{ column.title }
              th.mdl-data-table__cell--non-numeric(style='text-align: right;') Удалить
              th.mdl-data-table__cell--non-numeric(style='text-align: right;') Изменить
          tbody(class="list")
            each item in definition.items
              tr
                each column in definition.columns
                  - var columnData = column.valueGetter ? column.valueGetter(item) : item[column.field]
                  - var columnClasses0 = [column.field + '-value'];
                  - if (!column.numeric) columnClasses0.push('mdl-data-table__cell--non-numeric');
                  - var text_data = (column.converter ?  column.converter(columnData) : columnData) || '';
                  - if (text_data.length > 50) { text_data = text_data.substring(0, 35).trim() + '..'; }
                  td(class=columnClasses0) #{ text_data }
                td.mdl-data-table__cell--non-numeric(style='color: #EF5350; text-align: right;')
                  if !item.lock
                    a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon(href= '/' + entity.urlPrefix + '/' + entity.entityNamePlural + '/' + item.id + '/delete')
                      i.material-icons delete
                td.mdl-data-table__cell--non-numeric(style='text-align: right;')
                  if !item.lock
                    a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon(href= '/' + entity.urlPrefix + '/' + entity.entityNamePlural + '/' + item.id + '/edit')
                      i.material-icons edit
  else
    +MessageCard({ desktop: { s: 6, o: 3 }, tablet: { s: 6, o: 1 }, phone: { s: 4 } }, 'Этот список пуст', 'Нажмите кнопку ( + ) в нижнем правом углу экрана, чтобы создать новый объект.', '&#xE88E;')
  
  if definition.items.length
    script.
      var options = {
        valueNames: !{JSON.stringify(definition.columns.map(function (column) { return column.field + '-value' }))}
      };
      var list = new List('table-list', options);

mixin ListSelector(options)
  div(style=(options.style || ''))
    h5(style='margin-top: 0px;') #{options.header}
    div(style='padding-left: 18px; margin-left: -18px;')
      each entry in options.list
        +Checkbox((options.name + '_' + entry.id), options.getter(entry), '', options.isItemSelected(entry))