include ../parts/mixins

- cardSettings = { phone: { s: 4 }, tablet: { s: 8 }, desktop: { s: 6, o: 3 } }

mixin Chat(user, chat)
  - var temp_user = user.asViewModel ? user.asViewModel() : user;
  a.chat-block(href='/chat/' + temp_user.id, onclick="ajax(this, true); return false;", style="text-decoration: none;")
    div.message-wrap(style='width: 100%; min-height: 48px; border-bottom: rgba(0, 0, 0, 0.08) 1px solid; padding: 12px 12px;')    
      img.mdl-user-avatar(src=temp_user.getImageUrls().small, style='position: relative;')
      div(style='margin-left: 58px;')
        span(style='color: black; ') #{ temp_user.name.first + ' ' + temp_user.name.last}
      div(style='margin-left: 59px; width: 100%; margin-top: 5px;')
        if (chat.chatWithUserId != chat.lastMessagefromId)
          span(style='color: black; font-size: 14px; font-weight: 400; opacity: .5') #{ 'Вы: '}
        span(style='color: black; font-size: 14px; font-weight: 400;') !{chat.text}
      span(style='color: black; opacity: .3; font-size: 12px; float: right; position: relative; bottom: 26px; right: 26px;') #{ chat.createdAtDisplay }

+Card(cardSettings, 'height: calc(100vh - (8px * 14)); padding: 0px;')
  .mdl-card__supporting-text(style='padding: 0px; width: 100%;')
    each chat in chats
      +Chat(chat.user, chat)
