include ../parts/mixins

- cardSettings = { desktop: { s: 8 } }

.mdl-grid
  +Card(cardSettings, 'left: 50%; transform: translateX(-50%); margin-left: 0;')
    .mdl-card__title
      h2.mdl-card__title-text
        | Удаление #{entity.displayNameGenetive}
    .mdl-card__supporting-text(style='padding: 16px')
      | Вы действительно хотите удалить #{entity.displayNameAccusative} #[b #{item.getDisplayName()}]?
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(
        onclick='confirmDelete(); return false;', 
        href=('/' + entity.urlPrefix + '/' + entity.entityNamePlural + '/' + item.id + '/delete')) 
        | удалить
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect(onclick='window.history.back();') отмена

    script.
      function confirmDelete() {
        $.ajax({ 
          url: this.href,
          type: 'DELETE'
        }).done(function (data) {
          if (data == 'ok') {
            window.location.replace('!{'/' + entity.urlPrefix + '/' + entity.entityNamePlural + '/?message=deleted'}');
          } else {
            window.location.replace('!{'/' + entity.urlPrefix + '/' + entity.entityNamePlural + '/?error='}' + data);
          }
        });
      }