include ../parts/mixins

- cardSettings = { phone: { s: 4 }, tablet: { s: 8 }, desktop: { s: 6, o: 3 } }

mixin Group(group)
  a(href='/group/' + group.id, onclick="ajax(this, true); return false;", style='text-decoration: none;')
    .mdl-user-avatar(style='background: gray; color: white;')
      i.material-icons(style='font-size: 33px; padding: 8px;') group
    h2.mdl-card__title-text(style='font-size: 19px; color: black; padding-left: 10px; padding-top: 2px;') #{ group.name }
    div(style='margin-left: 48px; padding-left: 10px;')
      span(style='color: black; opacity: .5;') #{ group.specialty.name }

mixin Teacher(teacher)
  a(href='/profile/' + teacher.user.id, onclick="ajax(this, true); return false;", style='text-decoration: none;')
    img.mdl-user-avatar(src=teacher.user.asViewModel().getImageUrls().small)
    h2.mdl-card__title-text(style='font-size: 19px; color: black; padding-left: 10px; padding-top: 2px;') #{ teacher.user.firstname + ' ' + teacher.user.lastname }
    div(style='margin-left: 48px; padding-left: 10px;')
      span(style='color: black; opacity: .5;') #{ teacher.position }

.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar(style='background: rgba(255, 255, 255, 0.84);')
    a.mdl-tabs__tab.is-active(href='#first-tab') Группы
    a.mdl-tabs__tab(href='#second-tab') Преподаватели
  
  #first-tab.mdl-tabs__panel.is-active
    .mdl-grid(style='padding: 16px;')
      +Block(cardSettings)
        if (user.type == 'student')
          - var ownGroup = groups.filter(_ => _.id == user.student.groupId)[0];
          - groups = groups.filter(_ => _.id != user.student.groupId)
          h5(style='margin: 16px 0px;') Моя группа
          div(style='height: 60px; padding-bottom: 8px;')
            +Group(ownGroup)
          h5(style='margin: 16px 0px;') Все группы
        each group in groups
          div(style='height: 60px; padding-bottom: 8px;')
            +Group(group)
      +Text(cardSettings)
        - var NCS = function(a) { return (a >= 5 && a <= 20) ? 'групп' : ((a % 10 == 1) ? 'группа' : ((a % 10 > 1 && a % 10 < 5) ? 'группы' : 'групп')) };
        h5(style='color: rgba(0,0,0,.3); text-align: center; margin-top: 8px;') #{groups.length + ' ' + NCS(groups.length)}

  #second-tab.mdl-tabs__panel
    .mdl-grid(style='padding: 16px;')
      +Block(cardSettings)
        each teacher in teachers.sort((a, b) => a.user.lastname > b.user.lastname)
          div(style='height: 60px; padding-bottom: 8px;')
            +Teacher(teacher)
      +Text(cardSettings)
        - var NCS = function(a) { return (a >= 5 && a <= 20) ? 'преподавателей' : ((a % 10 == 1) ? 'преподавателя' : ((a % 10 > 1 && a % 10 < 5) ? 'преподавателя' : 'преподавателей')) };
        h5(style='color: rgba(0,0,0,.3); text-align: center; margin-top: 8px;') #{teachers.length + ' ' + NCS(teachers.length)}


//.mdl-grid(style='padding: 16px;')
//  +Block(cardSettings)
//    each student in ownGroup.students.sort((a, b) => a.user.lastname > b.user.lastname)
//      div(style='height: 60px; padding-bottom: 8px;')
//        a(href='/profile/' + student.user.id, onclick="ajax(this, true); return false;", style='text-decoration: none;')
//          img.mdl-user-avatar(src=student.user.asViewModel().getImageUrls().small)
//          h2.mdl-card__title-text(style='font-size: 19px; color: black; padding-left: 10px; padding-top: 10px;') #{ student.user.firstname + ' ' + student.user.lastname }
//  +Text(cardSettings)
//    h5(style='color: rgba(0,0,0,.3); text-align: center;') #{ownGroup.students.length} студентов